{% extends "layouts/master.html" %}

{% load static %}

{% block body %}
<section class="card">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8 col-sm-9">
                    <div>

                            <form action="" method="" class="shadow py-2 px-2 bg-white  opacity-100 rounded-2  ">

                                <div>
                                <h1 class="text-info">Credit or Debit Card</h1>
                                    <hr>

                                </div>
                                

                                <div class="">
                                    <label for="Amount">Amount:</label><br>

                                    <input type="number" placeholder="Amount" class="form-control w-50" >
                            
                                </div>


                                <div class="">
                                    <label for="cardowner">Card Owner:</label><br>

                                    <input type="text" placeholder="Card owner name" class="form-control" >
                            
                                </div>

                                <div class="mb-3">
                                    <label for="Card Number">Card Number</label>
                                    <input type="text" placeholder="Valid Card Number" class="form-control"><div class="input-group-append">
                                        <div>
                                            <img src="{% static 'images/payment/visa.svg' %}" alt="" class="w-25">
                                            <img src="{% static 'images/payment/mastercard.svg' %}" alt="" class="w-25">
                                            <img src="{% static 'images/payment/americanexpress.svg' %}" alt="" class="american-express">

                                        </div>
                                    

                                </div>

                                <div class="mb-3">

                                    
                                        <label for="Expiration date">Expiration Date:</label><br>
                                
                                
                                    <div class="d-flex">
                                        <input type="month" placeholder="MM" class="form-control" >
                {#                    <input type="number" min="1900" max="2006" placeholder="YY" class="form-control">#}

                                        <label for="CVV" class="ms-2 borde">CVV:</label><br>
                                        <input type="number" placeholder="Enter CVV or CCV" class="form-control">
                                    </div>
                                
                                    
                                </div>
                                <div class="">
                                    <a href=""  class=""><button class="btn mb-3 submit  ">Confirm Donation</button></a>
                                </div>

                            </form>

                    </div>
                </div>
            </div>
        </div>

</section>



{% endblock body %}











