{% extends "layouts/All_volunteers_nav.html" %}

{% load static %}
{% load humanize %}


{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-10 col-md-8">


            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ message }}
                </div>
            {% endfor %}

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>DOB</th>
                    <th>Contract (months)</th>
                </tr>
                </thead>
                <tbody>
                {% for volunteer in volunteer %}
                    <tr>
                        <td>
                            {% comment %} <a href="/volunteer/{{ volunteer.id }}">{{ volunteer.name | title }}</a> {% endcomment %}
                            <a href="{% url 'details' emp_id=volunteer.id %}">{{ volunteer.name | title }}</a>


                        </td>
                        <td>{{ volunteer.email }}</td>
                        <td>{{ volunteer.dob | date:'d-m-Y' }}</td>
                        <td>{{ volunteer.salary  | intcomma }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if employees.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href='?page={{ employees.previous_page_number }}'>Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href='' tabindex="-1" aria-disabled="True">Previous</a>
                        </li>
                    {% endif %}

                    {% if employees.has_next %}
                        <li class="page-item">
                            <a class="page-link" href='?page={{ employees.next_page_number }}'>Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href='' tabindex="-1" aria-disabled="True">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>






{% endblock content %}