{% extends "layouts/master.html" %}
{% load static %}

{% block body %}

<br><br><br>

{% for event in events  %}

<section class="news-section section-padding" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 mb-5">
                <h2>Events News</h2>
            </div>

            <div class="col-lg-7 col-12">
                <div class="news-block">
                    <div class="news-block-top">
                        <a href="news-detail.html">
                            <img src="{{event.profile.url}}"
                                class="news-image img-fluid" alt="">
                        </a>

                        {% comment %} <div class="news-category-block">
                            <a href="#" class="category-block-link">
                                Lifestyle,
                            </a> {% endcomment %}
{% comment %} 
                            <a href="" class="category-block-link">
                                {{event.name}}
                            </a>
                        </div>
                    </div> {% endcomment %}

                    <div class="news-block-info">
                        <div class="d-flex mt-2">
                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    {{event.Date}}
                                </p>
                            </div>

                            
                        </div>

                        <div class="news-block-title mb-2">
                            <h4><a href="{% url 'information' event.id %}" class="news-block-title-link"> {{event.name}}  </a></h4>
                        </div>

                        <div class="news-block-body">
                            <p>  {{event.About}} </p>
                        </div>
                    </div>
                </div>
                

                
            </div>

        </div>
    </div>
</section>









{% endfor %}

{% for happy in happy %}


<section class="testimonial-section section-padding section-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="mb-lg-3">Testimonies</h2>

                <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption">
                                <h4 class="carousel-title">{{happy.information}} </h4>

                                <small class="carousel-name"><span class="carousel-name-title">{{happy.name}} </span>,
                                   {{happy.position}} </small>
                            </div>
                        </div>

                        <ol class="carousel-indicators">
                            <li data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active">
                                <img src="{{happy.image.url}}"
                                    class="img-fluid rounded-circle avatar-image" alt="avatar">
                            </li>

                        </ol>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>









{% endfor %}









<br><br><br>

{% endblock body %}





