{% extends "layouts/master.html" %}
{% load static %}

{% block body %}

<br><br><br>


{% if user.is_superuser %}

<section class="news-section section-padding" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 mb-5">
                <h2>Events News</h2>
            </div>


            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <button class="btn mt-1 border-dark border-rounded multiple">add News</button>
            </form>

{% for event in events  %}
            <div class="col-lg-7 col-12">
                <div class="news-block">
                    <div class="news-block-top">
                        <a href="news-detail.html">
                            <img src="{{event.profile.url}}"
                                class="news-image img-fluid" alt="">
                        </a>

                      
                    <div class="news-block-info">
                        <div class="d-flex mt-2">
                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    {{event.Date}}
                                </p>
                            </div>

                            
                        </div>

                        <div class="news-block-title mb-2">
                            <h4><a href="{% url 'information' event.id %}" class="news-block-title-link"> {{event.name}}  </a></h4>
                        </div>

                        <div class="news-block-body">
                            <p>  {{event.About}} </p>
                        </div>
                    </div>
                </div>
                

                
            </div>

            <form action="{% url 'events_delete' event.pk %}" method="post" >
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-2">Delete</button>
            </form>  


 {% endfor %} 

        </div>
    </div>
</section>



<br><br><br>




{% else %}

<section class="section-padding" id="section_3">
    <div class="container">
        <div class="row gy-3">
                

                    <div class="col-lg-12 col-12 text-center mb-4">
                        <h2>Events News</h2>
                        <hr>
                    </div>
                
                {% for event in events  %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap" style="flex: 1;">
                            <img src="{{event.profile.url}}"
                                class="custom-block-image img-fluid w-sm-100" alt="" style="height:400px; width:400px;">


                                <div class="d-flex mt-2">
                                    <div class="news-block-date">
                                        <p>
                                            <i class="bi-calendar4 custom-icon me-1"></i>
                                            {{event.Date}}
                                        </p>
                                    </div>
        
                                    
                                </div>
        

                            <div class="custom-block" >
                                <div class="custom-block-body">
                                    <h4><a href="{% url 'information' event.id %}" class="news-block-title-link"> {{event.name}}  </a></h4>

                                    <p> {{event.About}} </p>

                                    
                                </div>
                            </div>
                        </div>
                    </div> 


                  

                    
                
                {% endfor %}
                 


        </div>
    </div>
</section>



<br><br><br>


{% endif %}




<br><br><br>

{% endblock body %}





