{% extends 'layouts/master.html' %}
{% load humanize %}

{% block title %}
	{{ volunteer.name }}
{% endblock %}

{% block body %}
<br><br><br><br><br>
	<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <div class="card">
                {% if volunteer.profile %}
                    <img src="{{ vol.prof}}" height=" 300" width="300" alt="" class="card-img-top">

                {% endif %}

                <div class="card-body">
                    <h2 class="card-title">{{ volunteer.name}}</h2>
                    <p class="card-text">Contract(months):  {{ volunteer.salary | intcomma }}</p>
                    <p class="card-text">Born on :{{ volunteer.dob | date:'d-m-Y'  }}</p>
                    <p class="card-text">Address :{{volunteer.email}}</p>
                    <p class="card-text">Added :{{ volunteer.created_at | naturaltime}}</p>

                    {% if perms.main_app.delete_volunteer %}
                    <a href="{% url 'delete' volunteer.id %}" class="btn btn-danger w-50">Delete</a>
                    {% endif %}
                    <br>
                      {% if perms.main_app.change_volunteer %}
                    <a href="{% url 'update' volunteer.id %}" class="btn btn-primary w-50 mt-3">Update Employee</a>
                     {% endif %}
{#                    {employee/delete/100#}
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>
{% endblock %}




