{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/Image/header_img.png' %}" class="w-50">
    
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    
    <title>Spreading Smiles</title>
    
    {% block stylesheet %}
    
    
    
    {% endblock stylesheet %}






    <!-- FONTAWSOME link -->
   <script src="https://kit.fontawesome.com/2256adb598.js" crossorigin="anonymous"></script>  
   <!--end-->
    <!-- CSS FILES -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'css/templatemo-kind-heart-charity.css' %}" rel="stylesheet">
    <!-->

    


</head>
{% include "layouts/navbar.html" %}



{% block body %}




{% endblock body %}


{% include 'layouts/footer.html' %}

    <script src="{% static 'js/jquery.min.js'%}"></script>
    {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
    <script src= "{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/click-scroll.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    

     
