{% extends "layouts/master.html" %}

{% load static %}


{% block body %}
<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-9">

            <div class=" ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d958.4642550159488!2d34.4892575890651!3d0.34912299115010303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1707468792785!5m2!1sen!2ske"
                        width="1200" height="800" style="border:0;"
                        allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

    </div>

</div>



<br><br><br><br>

{% endblock body %}








