{% extends "layouts/master.html" %}
{% load static %}

<style>

</style>

{% block body %}
<br>
{% comment %} {% if user.is_superuser %} {% endcomment %}
  <div class="container">
    <div class="row justify-content-end">
        <div class="col-lg-6 col-md-8 col-sm-9">
                <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="images" multiple class="form-control w-50">
                            <button class="btn mt-1 border-dark border-rounded">Upload</button>
                </form>
        </div>
    </div>
</div>


{% comment %} {% else %} {% endcomment %}

<br><br>

<div class="container">
    <div class="row ms-auto">

        <div class="col-lg-9 col-md-8 col-sm-9">
            
            
            {% for img in images  %}
              <div class="col-lg-6 col-md-8 col-sm-9">
                <img src="{{ img.images.url }}"  alt="" class="w-50 d-flex">
            </div>
            {% endfor %}
            

            

            <div>
              <p>
                {{more.info}}
              </p>


            </div>

            <div>
                <button class="custom-btn btn form-control"><a href="{% url "Donation" %}" class="text-white" >Donate</a></button>
            </div>


                <br>

        </div>

    </div>



</div>

{% comment %} {% endif %} {% endcomment %}














{% endblock body %}