{% load static %}


<body id="section_1">

    <header class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-geo-alt me-2"></i>
                        Mumias, Kenya
                    </p>

                    <p class="d-flex mb-0">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:info@company.com">
                            Spreadingsmilescharityorg@gmail.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                    <ul class="social-icon">
                        {% comment %} <li class="social-icon-item">
                            <a href="" class="social-icon-link bi-twitter"></a>
                        </li> {% endcomment %}

                        <li class="social-icon-item">
                            <a href="https://www.facebook.com/spread55" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://www.instagram.com/sp.readingsmilesorg_kenya/" class="social-icon-link bi-instagram"></a>
                        </li>

                        {% comment %} <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-youtube"></a>
                        </li> {% endcomment %}

                        <li class="social-icon-item">
                            <a href="https://web.whatsapp.com/" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <!-- <div class="container"> -->
            <a class="navbar-brand px-3" href="{% url "home" %}">
                <img src="{% static 'images/Image/header_img.png' %}" class="logo img-fluid" alt="">
                <span>
                    Spreading Smiles
                    <small>Non-profit Organization</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                    

                    <li class="nav-item">
                        <a class="nav-link  " href="{% url 'About' %}">About</a>
                    </li>
                    <div class="dropdown nav-item">
                        <a href=""class="btn-primary dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Activities
                        </a>
                        <ul class="dropdown-menu">
                          <li class="">
                                <a class="dropdown-item "data-bs-dismiss="dropdown" href="{% url 'Causes' %}">Causes</a>
                           </li>
                           <li class="dropdown-item">
                            <a class="" href="{% url 'Events' %}"
                
                                aria-expanded="false">News</a>
                           </li>
                        </ul>
                    </div>


                    <div class="dropdown nav-item">
                        <a class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Support
                        </a>
                        <ul class="dropdown-menu col-sm-9">
                            <li class="dropdown-item">
                                <a class="" href="{% url 'Volunteer' %}">Volunteer</a>
                            </li>
        
                            <li class="dropdown-item">
                                <a class="" href="{% url "all_volunteers" %}">Volunteers</a>
                            </li>
                        </ul>
                    </div>

                    

                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'Contact' %}">Contact</a>
                    </li>

                    <li class="nav-item ms-3">
                        <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'Donation' %}" target="_blank"  >Donate</a>
                    </li>


                   
                {% if user.is_authenticated%}
<!-- 
                        <div class="dropdown me-5">
                            <a href="" class="nav-item">Ali</a>
                            <ul class="dropdown-menu ">
                                <li class="dropdown-item">
                                    <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'logout'%}">logout</a>
                                </li>
                            </ul>
                        </div> -->
                        <div class="dropdown nav-item py-3 me-5">
                            <ul class="navbar-nav ms-3 mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <i class="fa-solid fa-lock"></i>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'logout'%}">logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                          
                    {% else %}

                    <li class="nav-item ms-3">
                        <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'signin' %}">Login</a>
                    </li>

                    <li class="nav-item ms-3">
                        <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'signup' %}">SignUp</a>
                    </li>

                    
                {% endif %}
            </ul>
        </div>
        <!-- </div> -->
    </nav>